@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');

* {
  margin: 0;
  list-style: none;
}

body {
background: #E5E5E5;
}


header h1 {
  margin: 40px;
}

.seccion-ingrese-texto{
  position:relative;
}

.seccion-ingrese-texto textarea{
    position: absolute;
    width:577px;
    background-color:#E5E5E5 ;
    top:125px;
    left: 300px;
    line-height:150%;
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    color:#0A3871;
    border:none;
    outline: none;
    resize: none;
}
#texto::placeholder{
    color: #0A3871;
    font-weight: bold;
}

.informacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    
    position: absolute;
    width: 262px;
    height: 18px;
    left: 240px;
    top: 650px;
}

.caja-botones{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;
position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 680px;

}

#btn-ecriptar{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#btn-desecriptar{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Light gray */

background: #D8DFE8;
/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0
}
