@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  list-style: none;
  font-family:'Montserrat', sans-serif;
}

body {
  background: #e5e5e5;
}

.contenedor{
  position: relative;
  width:1440px;
  height:100vh;
  margin: 0 auto;
  background-color:#E9ECF8;

}

.logo{
  position:absolute;
  margin:40px;
}


.seccion-ingrese-texto{
  position:absolute;
  top:168px;
  left:240px;

}

#texto{
  background-color: #E9ECF8;
  width:577px;
  height:575px;
  border:none;
  resize: none;
  outline:none;
  font-size:32px;
  color:#0A3871;
  
}

#texto::placeholder{
  font-size:32px;
  color:#0A3871;
  
}

.informacion{
  display:flex;
  align-items:center;
  margin-bottom:16px;
  gap:8px;
 
}

.caja-botones{
  display: flex;
   width:680px;
   height:67px;
   gap:8px;
}

.botones{
  flex-direction: row;
  justify-content: center;
  width: 328px;
  height: 67px;
  border-radius:24px;
  border:1px solid #0A3871;
}

#btn-encriptar{
  background-color: #0A3871;
  color: white;
}

#btn-desencriptar{
  background-color:#D8DFE8;
  color:#0A3871;
  border:1px solid #0A3871;
 
}